.header {
    text-align: center;
    margin-bottom: 20px;
    font-size:60px;
    color: #1e2203;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1e2203;
    border-radius: 8px;
}

.button {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #1e2203;
    color: #1e2203;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.button:hover {
    background-color: #1e2203; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

